ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:black;
    font-family: sans-serif;
    width: 100%;
  }
  
  li.menu {
    float: left;
  }

  li.entrar{
      float: left;
  }
  
  li a {
    display: block;
    color:white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  li a:hover {
    background-color: #111111;
  }

  img.fundo{
    width: 100%;
    height: 100%;
    position: relative;
  }